{% extends 'base.html.twig' %}

{% block title %}Tous les événements{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="my-5">Tous les événements</h2>

        <div class="row">

            {% for event in events %}

                {% include 'event/_event.html.twig' %}

            {% endfor %}
        </div>

        {% set route = 'event_index' %}
        {{ include('_inc/pagination.html.twig') }}

    </div>

{% endblock %}
