
.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 32px;
    max-height: 32px;
}

.admin-img {
    max-width: 120px;
    max-height: 120px;
    border-radius: 5%;
}