
<footer class="mt-5 bg-light py-5 text-center">

    <div class="d-flex justify-content-center">
        <a href="{{ path('admin_dashboard') }}" class="btn btn-link">Administration</a>
    </div>

    <p>Copyright PARIS Events</p>
</footer>