{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container">

                <h2 class="my-5">Favoris</h2>
        <div class="row">
                {% for favorite in favorites %}
                    {% set event = favorite.event %}
                    {{ include('event/_event.html.twig') }}
                {% endfor %}
        </div>

            <h2>Vos événements</h2>
        <div class="row">
                {% for event in events %}
                    {% include 'event/_event.html.twig' %}
                {% endfor %}
        </div>


    </div>

{% endblock %}