{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-md-3"></div>

            <div class="col-md-6 col-sm-12">
                <h2 class="my-5 text-center">Modification du mot de passe</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success mt-2">Enregistrer</button>
                {{ form_end(form) }}
            </div>

            <div class="col-md-3"></div>

        </div>
    </div>

{% endblock %}